#header {
    background-color: #ffffff;
   
    .navbar-dark {
      .navbar-toggler {
        background: #006325;
      }
   
      .navbar-nav {
        .nav-link {
          color: #000000;
          font-weight: bold;
          padding-left: 40px;
        }
      }
    }
  }